POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres

SPRING_PROFILES_ACTIVE=docker

SPRING_DATASOURCE_URL=jdbc:postgresql://pagila-db:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=changeme
